@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Custom Fonts */
  @font-face {
    font-family: "satoshi";
    src: url("../assets/fonts/Satoshi-Variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "playfair";
    src: url("../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf")
      format("truetype");
  }

  /* Custom Layout */
  .container {
    @apply max-w-[1400px] min-w-[800px] w-[72vw] h-screen flex flex-col gap-4 mx-auto;
  }

  :root {
    --background: 55 40% 96%;
    --foreground: 20 60% 1%;
    --muted: 25 33.8% 92%;
    --muted-foreground: 24.83 13% 44%;
    --popover: 24 35% 98%;
    --popover-foreground: 24 61% 1%;
    --card: 55 48% 98%;
    --card-foreground: 24 61% 1%;
    --border: 55 40% 88%;
    --input: 24 14% 92%;
    --primary: 25 33.8% 27.84%;
    --primary-foreground: 24 34% 92%;
    --secondary: 25 34% 54%;
    --secondary-foreground: 354 0% 100%;
    --accent: 22 34% 94%;
    --accent-foreground: 24.75 34% 34%;
    --destructive: 17 99% 41%;
    --destructive-foreground: 0 0% 100%;
    --ring: 24 34% 28%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 35% 4%;
    --foreground: 24 21% 98%;
    --muted: 354 15% 11%;
    --muted-foreground: 354 1% 73%;
    --popover: 24 35% 3%;
    --popover-foreground: 24 21% 99%;
    --card: 24 35% 3%;
    --card-foreground: 24 21% 99%;
    --border: 24 14% 12%;
    --input: 24 14% 12%;
    --primary: 24 34% 28%;
    --primary-foreground: 24 34% 88%;
    --secondary: 354 34% 28%;
    --secondary-foreground: 354 34% 88%;
    --accent: 54 34% 28%;
    --accent-foreground: 0 0% 100%;
    --destructive: 17 99% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 24 34% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
